/* Custom site-wide CSS */

.bowfolio-green {
  color:  #FF0000;
  font-family: 'Londrina Solid', cursive;
}

.grub-n-go-orange{
  color:  #FF0000;
}

.nav-bar-bowfolio-green {
  color:  #FF0000;
  font-family: cursive,'Tangerine';
}

.landing-white-background {
  background-color: white;
  color: #376551;
  margin: 0;
}

.reset-margins {
  margin-top: 0;
  margin-bottom: 0;
}

.welcome-background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("images/landingBackground.jpeg");
  background-attachment: fixed;
}

.green-gradient {
  background: linear-gradient(to bottom, transparent, #376551);
}

.footer-background {
  background: #376551;
  padding: 0;
  color: white;
}

