/* Custom site-wide CSS */

.bowfolio-green {
  color:  #FF0000;
  font-family: 'Londrina Solid', cursive;
}

.gradient-background {
  background: linear-gradient(to bottom, rgba(255, 247, 223, 1), rgba(255, 178, 134, 1)) no-repeat center center fixed !important;
}

.landing-green-background {
  background-color: #376551;
  color: white;
  padding-top: 20px;
}

.landing-white-background {
  background-color: white;
  color: #376551;
  padding-top: 20px;
}

.reset-margins {
  margin-top: 0;
  margin-bottom: 0;
}
