/* Custom site-wide CSS */

.ui.borderless.top.attached.menu{
  box-shadow: none;
  border: none;
}

.bowfolio-red {
  color:  #FF0000;
  font-family: 'Londrina Solid', cursive;
  font-weight: 800;
  font-size: 30px;
}

.grub-n-go-orange{
  color: #ff0000;
  font-family: 'Nunito Sans', sans-serif;
}

.nav-bar-bowfolio-red {
  color:  #FF0000;
  font-family: cursive, 'Tangerine';
  font-weight: 800;
  font-size: 16px;
}

.landing-white-background {
  background-color: white;
  color: #376551;
  margin: 0;
}

.reset-margins {
  margin-top: 0;
  margin-bottom: 0;
}

.welcome-background {
  background-size: cover;
  background-attachment: fixed;
  background-image: url(https://www.hawaiipokefob.com/img/slider3.jpg);
}

.green-gradient {
  background: linear-gradient(to bottom, transparent, #376551);
}

.footer-background {
  background: #376551;
  padding: 0;
  color: white;
}

